:root {
    --horizontal-offset: 0vw; /* Adjust this value to move the form left or right */
  }
  
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full height to center vertically */
    background: linear-gradient(to right, #6a11cb, #2575fc);
    position: fixed;
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
  }
  
  .form {
    max-width: 400px;
    width: 90%;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  
  .title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
    color: #343a40;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #495057;
  }
  
  .input {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .button {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 4px;
  }
  
  .registerLink {
    margin-top: 15px;
    text-align: center;
    display: block;
    color: #007bff;
    text-decoration: none;
  }
  